@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", serif;
    margin: 0px;
    padding: 0px;
}

header{
    padding: 20px 140px;
}

main{
    background-image: url("../images/bg.png");
}

/* nav styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 186px;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-mid{
    display: flex;
    gap: 32px;

    font-size: 20px;
    font-weight: 500;
}

.nav-title{
    font-size: 32px;
    color: black;
    font-weight: 700;
}

.nav-home{
    color: orange;
    font-weight: 700;
}

.nav-about{
    color: skyblue;
}

.nav-facilities{
    color: #05D4DF;
}

.nav-admission{
    color: #5D58EF;
}

.nav-btn{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;

    padding: 10px 61px;
    border: none;
    background-color: orange;

    border-radius: 12px;
    cursor: pointer;
}

.nav-menu{
    display: none;
}

.hidden-in-static{
    display: none;
}

hr{
    display: none;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title{
    font-size: 66px;
    font-weight: 700;
}

.banner-description{
    font-size: 20px;
    font-weight:400;
    color: black;
}

.banner-btn{
    font-size: 20px;
    font-weight: 700;
    color: white;

    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;

    cursor: pointer;
}

.banner-content{
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding-right: 90px; /*hard coded*/
}

.empowering{
    color: orange;
}

.tv{
    color: skyblue;
}

.hide{
    display: none;
}

/* section curriculum styles */

.sec-curriculum{
    padding: 0px 224px;
}

.curriculum-container{
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.curriculum-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 33px;
    text-align: center;

    border-radius: 18px;
    padding: 53px 40px;
}

.curriculum-card-title{
    font-size: 24px;
    font-weight: 700;
}

.curriculum-title{
    font-size: 46px;
    font-weight:700;
    text-align: center;

    margin-top: 60px;
    margin-bottom: 80px;     
}

.curriculum-card-description{
    font-size: 16px;
    font-weight: 400;
    color: #808080;
}

.cur-card-1{
    background: linear-gradient(180deg, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0) 40%);
    border: 1px solid #DEF5FF
}
.cur-card-2{
    background: linear-gradient(180deg, rgba(255, 244, 220, 1), rgba(255, 255, 255, 0) 40%);
    border: 1px solid #FFF4DC;
}
.cur-card-3{
    background: linear-gradient(180deg, rgba(238, 225, 255, 1), rgba(255, 255, 255, 0) 40%);
    border: 1px solid #F2E8FF;
}

.curriculum-readmore{
    font-size: 15px;
    font-weight: 700;
    border: none;
    
    margin: auto; /*margin will only cover the content. no extra margin will be allocated*/
    background: none; /*to remove the default grey color*/

    cursor: pointer;
}

.curriculum-readmore1{
    color: #64C8FF; 
}
.curriculum-readmore2{
    color: #F0AA00; 
}
.curriculum-readmore3{
    color: #8700FF; 
}

.curriculum-card{
    background-color: white;
}

.circle{
    font-size: 5em;
    color: orange;

    margin: auto;
    background: none;

    cursor: pointer;
}

.left-arrow, .right-arrow{
    position: relative;
    color: white;
    font-size: 2.6rem;

    right: 72px;
    bottom: 13px;
}

.arrows{
    display: flex;
    justify-content: center;

    margin-top: 80px;
}

/* sec stories */

.sec-stories{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(254, 163, 1, 0.3));
    background-size: cover;
    padding: 0px 140px 70px 140px;
}

.stories-title{
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}

.stories-container{
    display: flex;
    justify-content: space-between;
    gap: 18px;

    margin-top: 80px;
}

.big-story-container img, .small-story-container img{ 
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.big-story-container, .small-story-container{
    background-color: white;
    border-radius: 16px;
}

.small-stories-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.stories-container div{
    flex: 1;
}

.big-story-content{
    padding: 38px;
}

.big-story-logo{
    font-size: 20px;
    background-color: #3CD8E8;
    padding: 19px 23px;
    border: none;
    border-radius: 47px;
    color: white;

    position: relative;
    top:-75px;
    left: 38px;
}

.big-story-caption{
    font-size: 34px;
    font-weight:bold;
}

.big-story-description{
    font-size: 21px;
    font-weight:500;
    color: #666666;
    
    margin-top: 48px;
}

.small-story-logo{
    font-size: 17px;
    font-weight: 500;
    background-color: #95B226;
    color: white;

    padding: 15px 23px;

    border: none;
    border-radius: 47px;

    position: relative;
    top:-30px;
    left: 38px;
}

.small-story-logo-unique{
    background-color: #5D58F0;
}

.small-story-caption{
    font-size: 23px;
    font-weight:bold;

    padding-left: 38px;
}



.btn-view-all{
    font-size: 20px;
    font-weight: 700;
    background-color: black;
    color: white;

    padding: 10px 61px;
    border-radius: 12px;
    border: none;
    margin-top: 80px;

    cursor: pointer;
}

.btn-view-all-parent{
    text-align: center;
}

/* footer */

footer{
    background-color: #01ACFD;
    padding: 123px 228px;

    color: white;
} 

.footer-motto-title{
    font-size: 28px;
    font-weight: bold;
}

.motto-top{
    display: flex;
}

.footer-img{
    font-size: 200%;
}
.motto-description{
    font-size: 20px;
    font-weight:400;

    margin-top: 36px;
}

.footer-container{
    display: flex;
    justify-content: center;
    gap: 172px;
}

.contact-title{
    font-size: 26px;
    font-weight: bold;
}

.contact-container{
    display: flex;
    gap: 10px;

    margin-top: 32px;
}

.footer-container > div{
    flex: 1;
}

.about-school{
    font-size: 24px;
    font-weight: bold;
}

.footer-about > .p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.contact-container img{
    cursor: pointer;
}

@media screen and (max-width: 576px){
    header{
        padding: 12px 16px;
    }

    /* nav responsive styles */

    .nav-mid{
        display: none;
    }
    .nav-btn-bg{
        display: none;
    }

    .nav-title{
        display: none;
    }
    
    .nav-menu{
        display: block;
        font-size: 2em;
    }

    hr{
        display: block;
        margin-top: 12px;
        border-top: 0.5px solid orange;
    }

    /* banner responsive styles */ 

    .banner{           
        flex-direction: column-reverse;
    }

    .banner-content{
        display: flex;
        flex-direction: column;
        gap: 24px;
    
        padding: 20px; /*hard coded*/
    }

    .hidden-in-static{
        display: block;
    }

    .text-center{
        text-align: center;
    }

    /* sec curriculum styles */

    .sec-curriculum{
        background-image: url("../images/bg.png");
        padding: 0px 70px;
    }
    
    .curriculum-container{
        flex-direction: column;   
        gap: 13px;
    }
    
    .curriculum-card-title{
        font-size: 16px;
        font-weight: 700;
    }
    
    /* arrow */

    .arrows{
        display: none;
    }

    /* sec stories */

    .sec-stories{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(254, 163, 1, 0.3));
        padding: 0px 17px 40px 17px;
    }

    .big-story-container{
        display: none;
    }

    .small-story-logo{
        font-size: 9px;
        padding: 10px 23px;
        border-radius: 25px;
    
        top:-20px;
        left:30px;
    }

    .small-stories-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .small-story-caption{
        font-size: 15px;
        padding: 20px;
    }
    
    .btn-view-all{
        margin-top: 20px;
    }
    
    /* footer responsive */

    footer{
        padding: 65px 27px;
    }

    .footer-container{
        flex-direction: column;
        gap: 38px;
    }
}